{% macro pagination_widget(pagination, model_name, endpoint, model_id=None) %}
<!-- pagination 分页对象 model_name 表名 endpoint 函数接口名 model_id 列id 外键查询时才需要 -->
    <nav id="pager" aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.has_prev %}
                <li>
                {% if model_id %}
                    <a data-article-list href="{{ url_for(endpoint, model_name = model_name,
                                page = pagination.page - 1, model_id = model_id) }}">&laquo;</a>
                {% else %}
                    <a data-article-list href="{{ url_for(endpoint, model_name = model_name,page = pagination.page - 1) }}">&laquo;</a>
                {% endif %}
                </li>
            {% else %}
                <li class="disabled"><a href="javascript:">&laquo;</a></li>
            {% endif %}
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                        <li class="active">
                            <a href="javascript:">{{ p }}</a>
                        </li>
                    {% else %}
                        <li>
                        {% if model_id %}
                            <a data-article-list href="{{ url_for(endpoint, model_name = model_name,
                                page = p, model_id = model_id) }}">{{ p }}</a>
                        {% else %}
                            <a data-article-list href="{{ url_for(endpoint, model_name = model_name , page = p) }}">{{ p }}</a>
                        {% endif %}
                        </li>
                    {% endif %}
                {% else %}
                    <li class="disabled"><a href="javascript:">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            <li {% if not pagination.has_next%} class="disabled"{% endif %}>
                {% if pagination.has_next%}
                    {% if model_id %}
                        <a data-article-list href="{{ url_for(endpoint, model_name = model_name,
                                   page = pagination.page - 1, model_id = model_id) }}">&raquo;</a>
                    {% else %}
                    <a data-article-list href="{{ url_for(endpoint, model_name = model_name,page = pagination.page - 1) }}">&raquo;</a>
                    {% endif %}
                {% else %}
                    <a href="javascript:">&laquo;</a>
                {% endif %}
            </li>
        </ul>
    </nav>
{% endmacro %}